<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>YouBlog</title>
</head>
<body>
<main>
  <div style="display: flex; align-items: end; margin-bottom: 15px;">
    <p>안녕하세요.</p>
    <p>
      <h2 style="margin: 0 10px;">YouBlog</h2> 입니다.
    </p>
  </div>

  <div>
    <p>임시 비밀번호 발급을 완료 하였습니다.</p>
    <p>아래 내용이 만약 본인이 요청한 것이 아니라면 고객센터로 문의 바랍니다.</p>
    <table style="margin-top: 20px;">
      <tbody>
        <tr style="height: 25px">
          <th style="width: 150px; text-align: left;">요청 아이피</th>
          <td style="width: 250px;" th:text="${ip}">ip</td>
        </tr>
        <tr style="height: 25px">
          <th style="width: 150px; text-align: left;">임시 비밀번호</th>
          <td style="width: 250px;" th:text="${tempPassword}">임시 비밀번호</td>
        </tr>
      </tbody>
    </table>
  </div>

</main>
<footer>
  <small>YouBlog &copy; 2023</small>
</footer>
</body>
</html>
